.matrix {
    background-color: white;
    display: inline-block;
    font-size: 10px;
}

.matrix th {
    background-color: grey;
}

.matrix td {
    padding: 4px;
}

.matrix tr:nth-child(-n+3), tr:nth-last-child(-n+2) {
    border-bottom: 1px solid black;
}

.matrix tr:nth-last-child(2) {
    border-top: 1px dotted black;
}

.matrix tr td:nth-child(-n+1), tr td:nth-last-child(-n+2) {
    border-right: 1px solid black;
}

.matrix tr td:nth-last-child(2) {
    border-left: 1px dotted black;
}

.matrix tr:nth-child(-n+3), tr:last-child, tr td:last-child, tr td:nth-child(1) {
    background-color: lightgrey;
}

.rotate {
    transform: rotate(270deg);
    padding: 0 !important;
}

.center {
    text-align: center;
}