.mediumButton {
    background-color: #4f4f4f !important;
    color: #ffd333 !important;
    font-size: larger;
    vertical-align: middle;
    outline: none;
    transition: 0.4s;
}

.mediumButton:hover {
    background-color: #212121 !important;
    color: lightgrey !important;
}

.littleButton {
    background-color: #D8D8D8;
    color: #A4A4A4;
    vertical-align: middle;
    transition: 0.4s;
}

.panel-color {
    background-color: #7c7c7c !important;
    color: #ffffff !important;
}

.thumbnail-color {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    border: 1px solid lightgray;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

}

.form-control-color {
    background-color: lightgrey;
}
.customTable table td{
    background-color: lightgrey ;
    color: black
}

.gridview-header {
    background-color: #4f4f4f;
    color: #ffd333;
    font-size: small;
    vertical-align: middle;
    outline: none;
    transition: 0.4s;
}

th.gridview-header > a {
    color: #ffd333;
}

.userTable {
    background-color: lightgrey;
    color: black;
    border-collapse: collapse;
    border-color: white
}

.logoutColor {
    color: #ffd333 !important;
}

li.logoutColor > a {
    color: #ffd333 !important;
}

.bg-color {
    background-color: lightgrey !important;
    color: #0a0a0a !important;
}

.text-color {
    color: #ffffff !important;
}

.tableColorwhite {
    background-color: grey !important;
    color: white;
}

.form-color-dark {
    background-color: #4f4f4f;
    color: #ffd333;
}

.dropmenu {
    float: none !important;
}

.hsize {
    font-size: 60px;
}

.psize {
    font-size: 17px;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.textareawidth {
    resize: vertical;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: darkred;
}

.has-error .form-control {
    border-color: darkred;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: darkgreen;
}

.has-success .form-control {
    border-color: darkgreen;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.inactivetext {
    font-size: 20px;
    color: white;
}

.inactivehead {
    font-weight: bold;
    color: #ffd333;
}

.link-color, .link-color:hover, .link-color:focus {
    color: #ffd333;
}
.imprint-brand-logo {
    height: 45px;
    width: 130px;
}

.breadcrumb {
    background-color: #4f4f4f;
}

.breadcrumb > li > a {
    color: #ffd333;
}

.breadcrumb > .active {
    color: white;
}
.relation-color {
    background-color: #6d6d6d !important;
    color: white !important;
}
